@model CinemaPink.Models.Notification

@{
    ViewData["Title"] = "Reservation";
}

<h2>@Html.DisplayFor(Model=>Model.Title)</h2>

<h2>@Html.DisplayFor(Model => Model.EmailAddress)</h2>

<h2>@Html.DisplayFor(Model => Model.NumberOfSeats)</h2>
<div></div>
   
    

