@model CinemaPink.Models.Room
@{
    ViewData["Title"] = "Room";
}
<div class="grid-container">

    @foreach (var seat in Model.Seats)
    {
        <div class="grid-item">@seat.ID</div>
       
    }
</div>

