@model IEnumerable<CinemaPink.Models.SeatDTO>
@{
    ViewData["Title"] = "Room";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<div class="gap"></div>
<div class="grid-container">


    @foreach (var seat in Model)
    {
        @if (seat.Reserved)
        {
            <div id="@seat.ID" class="grid-reserved">@seat.ID</div>

        }
        else
        {

            <div class="grid-item">@seat.ID</div>
        }

    }
</div>
<script>
    $(document).ready(function () {
        $(".grid-reserved").click(function () {
            var obj = {}
            var idContainer = {};
            idContainer.ID = 19;
            obj.idContainer = idContainer;




            AjaxCall('/Projections/Reserve/', obj, function ajaxCallback(evt, success) {
                alert("the method is working");
            });
        });

    });
</script>


