@model CinemaPink.Models.Room
@{
    ViewData["Title"] = "Room";
}
<div>

    @foreach (var seat in Model.Seats)
    {
        <div class="seats">@seat.ID</div>
        <br />
    }
</div>

